PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE usuarios (

    id INTEGER NOT NULL, 

    nombre VARCHAR(100) NOT NULL, 

    email VARCHAR(120) NOT NULL, 

    telefono VARCHAR(20), 

    direccion VARCHAR(255), 

    rol TEXT CHECK(rol IN ('ADMIN', 'ENCARGADO', 'USER')) DEFAULT 'USER',

    estado TEXT CHECK(estado IN ('ACTIVO', 'SUSPENDIDO', 'PENDIENTE')) DEFAULT 'PENDIENTE',

    password_hash TEXT NOT NULL,  -- Cambiar de password plano a hash

    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (id), 

    UNIQUE (email)

);
CREATE TABLE productos (

    id INTEGER NOT NULL, 

    nombre VARCHAR(100) NOT NULL, 

    descripcion VARCHAR(255), 

    precio FLOAT NOT NULL, 

    stock INTEGER, 

    categoria TEXT,

    disponible BOOLEAN DEFAULT TRUE,

    valoracion_promedio FLOAT DEFAULT 0,

    PRIMARY KEY (id)

);
CREATE TABLE pedidos (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    usuario_id INTEGER NOT NULL,

    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    estado TEXT CHECK(estado IN ('PENDIENTE', 'PREPARACION', 'LISTO', 'ENTREGADO', 'CANCELADO')),

    total REAL NOT NULL,

    FOREIGN KEY (usuario_id) REFERENCES usuarios(id)

);
CREATE TABLE items_pedido (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    pedido_id INTEGER NOT NULL,

    producto_id INTEGER NOT NULL,

    cantidad INTEGER NOT NULL,

    precio_unitario REAL NOT NULL,

    FOREIGN KEY (pedido_id) REFERENCES pedidos(id),

    FOREIGN KEY (producto_id) REFERENCES productos(id)

);
CREATE TABLE valoraciones (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    usuario_id INTEGER NOT NULL,

    producto_id INTEGER NOT NULL,

    puntuacion INTEGER CHECK(puntuacion BETWEEN 1 AND 5),

    comentario TEXT,

    fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (usuario_id) REFERENCES usuarios(id),

    FOREIGN KEY (producto_id) REFERENCES productos(id)

);
CREATE TABLE notificaciones (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    usuario_id INTEGER NOT NULL,

    mensaje TEXT NOT NULL,

    leida BOOLEAN DEFAULT FALSE,

    fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (usuario_id) REFERENCES usuarios(id)

);
DELETE FROM sqlite_sequence;
CREATE TRIGGER actualizar_valoracion_promedio

AFTER INSERT ON valoraciones

BEGIN

    UPDATE productos 

    SET valoracion_promedio = (

        SELECT AVG(puntuacion) 

        FROM valoraciones 

        WHERE producto_id = NEW.producto_id

    )

    WHERE id = NEW.producto_id;

END;
COMMIT;
